@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
	font-family: MainFont;
}
a {
	color: inherit;
	text-decoration: none;
	transition: all 0.5s;
}
a:hover {
	background-color: black;
	border: none;
	text-decoration: underline orangered;
	
}

a:active {
  background-color: black;
  	border:none;
	text-decoration: underline orangered;
}


@font-face{
	font-family: MainFont;
	src: url("../Assets/fonts/Harabara.ttf");
}


.container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: aliceblue;
	
}

nav{
	top:0;
	padding-left:3%;
	padding-right:3%;
	text-align: right;
	
}

footer{
	display: block;
	background: #000000;
	text-align: center;
	font-weight: bold;
	font-size: 18px;	
	color: orangered;
		
}


.main-logo img{
	
	float:left;
	height:10%;
	width:200px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}
#logo:hover{
	background-color: black;
	overflow: hidden;
}
header{
	
	background-color: #000000;
	background-bottom: 1px solid orange;
	position: fixed; /* Set the navbar to fixed position */
  	top: 0; /* Position the navbar at the top of the page */
 	width: 90%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;

}


.dropbtn{
	background: none;
	color: white;
	border: none;	
	float: right;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: MainFont;
	
}
.dropbtn:hover {
	background-color: black;
	border: none;
	text-decoration: underline orangered;
	
}

.dropbtn:active {
  background-color: black;
  	border:none;
	text-decoration: underline orangered;
}

.menu-drop{
	color: red;
}
.mensbutton{
	background-color: orangered;
	color: white;
	padding: 10px;	
	float: center;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: 0 5px #999
	
}



.mensbutton:hover {background-color: black}

.mensbutton:active {
  background-color: black;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}


.dropdown{
	display: inline-block;
	padding:16px;
	
}

.parallax{
	background-image: url("../Assets/firstimage.jpg");
		min-height:1000px;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	
	
}
.mensblock{
	
	height:551px;
	font-size:36px;
	background-color: #EAE9E5;
	width: 100%;
	
}
.womensblock{
	height:500px;
	font-size: 36px;
	background-color:#E7E6E2;
	width: 100%;
	
}
.parallax-womens{
	background-image: url("../Assets/hp2-knits-mens.jpg");
		min-height:1000px;
	background-attachment: fixed;
		background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax-newstock{
	background-image: url("../Assets/hp2-jackets-aw18_4.jpg");
		min-height:1000px;
	background-attachment: fixed;
		background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-final{
	background-image: url("../Assets/photo-1511632765486-a01980e01a18.jpg");
		min-height:1000px;
	background-attachment: fixed;
		background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.blocks{

	width:50%;
	float:left;
	height:121%;
	text-align: center;
	
	
	
	
}
.blocks:before {
	
	content: "\a0";
  	display: block;
  	line-height: 1px;
  	border-top: 4px inset orangered; 
}
.blocks img {
	float:right;
	overflow: hidden;
	max-height:100%; 
	max-width:100%;
	border-bottom: 4px inset orangered;
	
	
	
	
	
}


.Wblocks{
	
	width:50%;
	float:left;
	height:121%;
	text-align: center;
	
	
}
.Wblocks:before{
	content: "\a0";
  	display: block;
  	line-height: 1px;
  	border-top: 4px inset orangered; 
	
	
}


.Wblocks img {
	float:left;
	overflow: hidden;
	max-height:80%; 
	max-width:80%;
	border-bottom: 4px inset orangered;
}

.newstockblock{
	height:500px;
	font-size: 36px;
	background-color: aliceblue;
}

#slideshow {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.slide {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
}
































